.form-control {
    /* color: black; */
    background: rgb(235, 235, 235);
    /* width: 100%; */
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    /* border: var(--bs-border-width) solid rgb(88, 251, 34); */
}

button {
    margin: 0 3px;
}