#basic-addon2,
.form-control {
    /* color: black; */
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    /* border: var(--bs-border-width) solid rgb(88, 251, 34); */
}

#basic-addon2 {
    background: rgb(235, 235, 235);
}

.form-control {
    background: #ffffff;
}

/* .input-group.search>input {
    width: calc(100 * 9px) !important;
} */

button {
    margin: 0 3px;
}

.counter {
    position: absolute;
    background: rgba(246, 4, 4, 0.685);
    backdrop-filter: blur(3px);
    font-size: 7px;
    padding: 3px;
    border-radius: 50px;
    min-width: 15px;
    text-align: center;
    left: 8px;
    top: 0;
    color: #ffffff;
}