.btn-dark {
    background-color: #252625;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    border-radius: 10px;
    text-transform: capitalize;
}