.carousel-item .card-body {
    padding: 5px var(--bs-card-spacer-x);
}

.carousel-item .card-title {
    font-size: 15px;
    text-decoration: none;
}

.carousel-item .card {
    width: 8rem;
    height: 8rem;
    font-weight: normal;
    box-shadow: none;
}

.carousel-item li {
    list-style: none;
}

.carousel-item .card img {
    width: 6rem;
    height: 4rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: #ffff;
    color: rgb(64, 64, 64);
    line-height: normal;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    box-shadow: 1px 1px 13px rgba(17, 17, 17, 0.365);
}