.scroll-x {
    overflow-x: scroll;
    width: 100%;

    -webkit-scrollbar {
        display: none !important;
    }

}

.scroll-x::-webkit-scrollbar {
    display: none;
}

.grid {
    display: inline-flex;
}

.item-category {
    border: 0.3px solid rgb(90, 204, 121);
    padding: 5px;
    border-radius: 20px;
    color: rgb(152, 152, 152);
    min-width: fit-content;
    font-size: 15px;
    margin: 0 3px;
}