.h-50 {
    max-height: 50vh !important;
    object-fit: cover;
    /* border-radius: 8px; */
}

.carousel-indicators {
    margin-left: 3% !important;
    justify-content: start !important;
}

.carousel-indicators button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
}

.carousel-inner {
    border-radius: 14px !important;

}

/* .carousel-control-next,
.carousel-control-prev {
    display: none;
} */


.carousel-control-next,
.carousel-control-prev {
    width: 4% !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: #ffff;
    color: rgb(64, 64, 64);
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 1px 1px 13px rgba(17, 17, 17, 0.365);
}

/* .carousel-item img {
} */