nav.side-bar {
    position: absolute;
    padding: 40px 0;
    color: #4794B2;
    width: 100px;
    /* background: #000; */
    height: 100%;
}

nav.side-bar>ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}

nav.side-bar>ul>li {
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

nav.side-bar>ul>li>svg {
    width: 26px;
    height: 26px;
}

nav.side-bar>ul>li>svg:hover {
    margin-left: 5px;
    transition: 0.2s ease-in;
}