@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
    width: 100%;
    background-color: #e8e5e5;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.header {
    margin: 0 120px;
    display: flex;
    padding: 3px 0;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .header {
        margin: 0 30px;
    }
}


.troley {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e8e5e5;
}

.counter {
    background: rgba(246, 4, 4, 0.685);
    backdrop-filter: blur(3px);
    font-size: 7px;
    padding: 3px;
    border-radius: 50px;
    min-width: 15px;
    text-align: center;
    position: relative;
    right: -20px;
    top: -10px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    width: 20px;
    margin: 8px;
}

.icon {
    background-image: url(https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png);
    /* content: ""; */
    background-size: contain;
    height: 23px;
    width: 23px;
    background-repeat: no-repeat;
}

/* section.content {
    display: inline-block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    align-items: center;
    margin: 30px 0 120px 120px;
    width: auto;
} */